In [1]:
# pip install supabase pandas requests

In [5]:
# Import Libraries
import os
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
from pymongo import MongoClient
from dotenv import load_dotenv
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import math

In [6]:
# Add the 'scripts' directory to the Python path
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

In [10]:
import extract_to_mongodb as etm
import db_utils as dbu
import pickle
import time
from tqdm import tqdm

In [11]:
collection_name = os.getenv('COLLECTION_NAME_FEATUREENGINEERED_FINAL')
naturalearth_lowres = os.getenv('NATURALEARTH_SHAPEFILE_PATH')
# CACHE_FILE = 'geocodecache.pkl'

In [12]:
print(f"Collection Name: {collection_name}")

Collection Name: wildfire_collection_feature_engineering_final

Load the Data

In [13]:
# Load the cleaned data
df = dbu.load_all_data_from_mongodb(collection_name)

INFO:pymongo.client:You appear to be connected to a CosmosDB cluster. For more information regarding feature compatibility and support please visit https://www.mongodb.com/supportability/cosmosdb

An error occurred: Cursor 8038857652496426 not found, full error: {'ok': 0.0, 'errmsg': 'Cursor 8038857652496426 not found', 'code': 43, 'codeName': 'CursorNotFound'}

In [17]:
df_historical=df

In [16]:
df_historical.shape()

AttributeError: 'NoneType' object has no attribute 'shape'

In [ ]:
df_historical.head(5)

In [11]:
df_historical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659376 entries, 0 to 659375
Data columns (total 32 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _id       659376 non-null  object
 1   cfb       659376 non-null  float64
 2   locality  659376 non-null  object
 3   rep_date  659376 non-null  datetime64[ns]
 4   lat       659376 non-null  float64
 5   lon       659376 non-null  float64
 6   temp      659376 non-null  float64
 7   wd        659376 non-null  float64
 8   elev      659376 non-null  float64
 9   rh        659376 non-null  float64
 10  pcuring   659376 non-null  float64
 11  day       659376 non-null  int64
 12  ros       659376 non-null  float64
 13  year      659376 non-null  int64
 14  month     659376 non-null  int64
 15  hfi       659376 non-null  float64
 16  tfc0      659376 non-null  float64
 17  sfl       659376 non-null  float64
 18  bui_lag2  659376 non-null  float64
 19  bui       659376 non-null  float64
 20  cfl       659376 non-null  float64
 21  sfc0      659376 non-null  float64
 22  dmc_lag5  659376 non-null  float64
 23  dmc       659376 non-null  float64
 24  sfc       659376 non-null  float64
 25  dmc_lag7  659376 non-null  float64
 26  bui_lag4  659376 non-null  float64
 27  bfc       659376 non-null  float64
 28  tfc       659376 non-null  float64
 29  isi       659376 non-null  float64
 30  bui_lag5  659376 non-null  float64
 31  fwi_lag7  659376 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(3), object(2)
memory usage: 161.0+ MB

In [12]:
# Normalize the data to ensure consistency
df_historical['rep_date'] = pd.to_datetime(df_historical['rep_date']).dt.strftime('%Y-%m-%d')

# Convert 'rep_date' back to datetime to filter by month and year
df_historical['rep_date'] = pd.to_datetime(df_historical['rep_date'])

In [13]:
# Filter for records from July to December 2023
df_historical = df_historical[(df_historical['rep_date'].dt.year == 2023) & 
                              (df_historical['rep_date'].dt.month >= 7) & 
                              (df_historical['rep_date'].dt.month <= 12)]


df_historical.head(5)

,_id,cfb,locality,rep_date,lat,lon,temp,wd,elev,rh,...,dmc_lag5,dmc,sfc,dmc_lag7,bui_lag4,bfc,tfc,isi,bui_lag5,fwi_lag7
10457,66abb0ee25441f1b5ccccde2,0.0,Altona,2023-07-01,55.659277,-117.093903,18.424999,34.0,695.0,27.0,...,25.507999,25.507999,1.23,25.507999,43.851002,0.35,1.23,8.799,43.851002,18.966
10458,66abb0ee25441f1b5ccccde3,0.0,Altona,2023-07-02,55.659277,-117.093903,18.424999,34.0,695.0,27.0,...,25.507999,25.507999,1.23,25.507999,43.851002,0.35,1.23,8.799,43.851002,18.966
10459,66abb0ee25441f1b5ccccde4,0.0,Altona,2023-07-03,55.659277,-117.093903,18.424999,34.0,695.0,27.0,...,25.507999,25.507999,1.23,25.507999,43.851002,0.35,1.23,8.799,43.851002,18.966
10460,66abb0ee25441f1b5ccccde5,0.0,Altona,2023-07-04,55.659277,-117.093903,18.424999,34.0,695.0,27.0,...,25.507999,25.507999,1.23,25.507999,43.851002,0.35,1.23,8.799,43.851002,18.966
10461,66abb0ee25441f1b5ccccde6,0.0,Altona,2023-07-05,55.659277,-117.093903,18.424999,34.0,695.0,27.0,...,25.507999,25.507999,1.23,25.507999,43.851002,0.35,1.23,8.799,43.851002,18.966

In [14]:
cols_to_keep = ['locality','elev', 'month', 'day', 'year', 'cfb', 'temp', 'wd', 'rh', 'pcuring', 'ros', 'hfi', 'tfc0', 'sfl', 'bui', 'cfl', 'sfc0', 'dmc', 'sfc', 'bfc', 'tfc', 'isi']
df_historical = df_historical[cols_to_keep]

In [15]:
df_historical.to_csv('historical_07_12.csv', index=False)

In [16]:
# Save the cleaned data to mongodb
dbu.insert_df_only_to_mongodb(df_historical, 'wildfire_collection_2023_07_12')

Connection closed.

In [17]:
import pandas as pd
import requests
from supabase import create_client, Client

# Create a Supabase client
supabase_url = 'https://owflvfhmlpletxyjyhwv.supabase.co'
supabase_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93Zmx2ZmhtbHBsZXR4eWp5aHd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjI4ODQ0MzksImV4cCI6MjAzODQ2MDQzOX0.cuJoRQNwckv6fAIHKZnBjTW2akcqo9iMA5qz8ocS62A'
supabase_client = Client(supabase_url, supabase_key)

In [18]:
# Insert the JSON data into the Supabase table
# Create the table in Supabase
table_name = 'historical_07_12'

In [19]:
# Function to map pandas dtypes to SQL types
def map_dtype_to_sql(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return "INTEGER"
    elif pd.api.types.is_float_dtype(dtype):
        return "FLOAT"
    elif pd.api.types.is_bool_dtype(dtype):
        return "BOOLEAN"
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return "TIMESTAMP"
    else:
        return "TEXT"

In [26]:

# Generate SQL CREATE TABLE query
columns_sql = ",\n    ".join([f"{col} {map_dtype_to_sql(dtype)}" for col, dtype in zip(df_historical.columns, df.dtypes)])
create_table_query = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    {columns_sql}
);
"""

In [27]:
print(create_table_query)

CREATE TABLE IF NOT EXISTS historical_07_12 (
    locality TEXT,
    elev FLOAT,
    month TEXT,
    day TIMESTAMP,
    year FLOAT,
    cfb FLOAT,
    temp FLOAT,
    wd FLOAT,
    rh FLOAT,
    pcuring FLOAT,
    ros FLOAT,
    hfi INTEGER,
    tfc0 FLOAT,
    sfl INTEGER,
    bui INTEGER,
    cfl FLOAT,
    sfc0 FLOAT,
    dmc FLOAT,
    sfc FLOAT,
    bfc FLOAT,
    tfc FLOAT,
    isi FLOAT
);

In [32]:
# Use the Supabase REST API to execute the SQL query
headers = {
    "apikey": supabase_key,
    "Authorization": f"Bearer {supabase_key}",
    "Content-Type": "application/json"
}

# API endpoint for executing SQL in Supabase
sql_endpoint = f"{supabase_url}/rest/v1/rpc/execute_sql"

# Execute the SQL query
response = requests.post(sql_endpoint, json={"sql": create_table_query}, headers=headers)

In [33]:
if response.status_code == 200:
    print("Table created successfully.")
else:
    print(f"Failed to create table: {response.text}")

Failed to create table: {"code":"PGRST202","details":"Searched for the function public.execute_sql with parameter sql or with a single unnamed json/jsonb parameter, but no matches were found in the schema cache.","hint":null,"message":"Could not find the function public.execute_sql(sql) in the schema cache"}

In [36]:
# Convert DataFrame to dictionary records
data_to_insert = df_historical.to_dict(orient="records")

In [37]:
# Insert the data into the table
insert_response = supabase_client.table(table_name).insert(data_to_insert).execute()


if insert_response.status_code == 201:
    print("Data inserted successfully.")
else:
    print(f"Failed to insert data: {insert_response.error}")

INFO:httpx:HTTP Request: POST https://owflvfhmlpletxyjyhwv.supabase.co/rest/v1/historical_07_12?columns=%22wd%22%2C%22bfc%22%2C%22isi%22%2C%22temp%22%2C%22elev%22%2C%22day%22%2C%22sfc%22%2C%22dmc%22%2C%22cfl%22%2C%22hfi%22%2C%22locality%22%2C%22sfl%22%2C%22year%22%2C%22cfb%22%2C%22bui%22%2C%22tfc%22%2C%22rh%22%2C%22month%22%2C%22tfc0%22%2C%22pcuring%22%2C%22sfc0%22%2C%22ros%22 "HTTP/2 400 Bad Request"

APIError: {'code': '22P02', 'details': None, 'hint': None, 'message': 'invalid input syntax for type integer: "43.8510017"'}