In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/book-reviews/data_embedded.csv
/kaggle/input/books-with-emotions/emotion_classified_reviews.csv

In [2]:
df = pd.read_csv('/kaggle/input/books-with-emotions/emotion_classified_reviews.csv')

In [3]:
df_reviews = pd.read_csv('/kaggle/input/book-reviews/data_embedded.csv')
df_reviews.head()

,Unnamed: 0,Id,categories,published_date,user_id,useful,total_of_person,review_score,tokens,embedding_word
0,1,0826414346,['Biography & Autobiography'],2005-01-01,A30TK6U7DNS82R,10,10,5.0,"['dont', 'care', 'much', 'dr', 'seuss', 'readi...",[ 0.19285151 0.04566829 0.87209934 0.998347...
1,2,0826414346,['Biography & Autobiography'],2005-01-01,A3UH4UZ4RSVO82,10,11,5.0,"['people', 'become', 'book', 'read', 'child', ...",[ 0.63170236 -0.3734727 1.0102506 1.224012...
2,3,0826414346,['Biography & Autobiography'],2005-01-01,A2MVUWT453QH61,7,7,4.0,"['theodore', 'seuss', 'geisel', 'aka', 'quotdr...",[ 0.3843168 -0.13113278 0.5682461 0.749878...
3,4,0826414346,['Biography & Autobiography'],2005-01-01,A22X4XUPKF66MR,3,3,4.0,"['philip', 'nel', 'dr', 'seuss', 'american', '...",[ 0.12973899 -0.03000592 1.0274833 1.579559...
4,5,0826414346,['Biography & Autobiography'],2005-01-01,A2F6NONFUDB6UK,2,2,4.0,"['dr', 'seuss', 'american', 'icon', 'philip', ...",[ 0.716405 0.27937806 1.0383431 1.055518...

In [4]:
df = df[['Id', 'user_id', 'review_score', 'emotions']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1402758 entries, 0 to 1402757
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            1402758 non-null  object
 1   user_id       1402758 non-null  object
 2   review_score  1402758 non-null  float64
 3   emotions      1402758 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 42.8+ MB

In [5]:
df = df.drop_duplicates(subset=['Id', 'user_id'])

In [6]:
df_reviews = df_reviews[['Id', 'user_id', 'embedding_word']]
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1402743 entries, 0 to 1402742
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1402743 non-null  object
 1   user_id         1402743 non-null  object
 2   embedding_word  1402743 non-null  object
dtypes: object(3)
memory usage: 32.1+ MB

In [7]:
df_reviews = df_reviews.drop_duplicates(subset=['Id', 'user_id'])

In [8]:
df.info()
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1164700 entries, 0 to 1402757
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            1164700 non-null  object
 1   user_id       1164700 non-null  object
 2   review_score  1164700 non-null  float64
 3   emotions      1164700 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 44.4+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1164687 entries, 0 to 1402742
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1164687 non-null  object
 1   user_id         1164687 non-null  object
 2   embedding_word  1164687 non-null  object
dtypes: object(3)
memory usage: 35.5+ MB

In [9]:
merged_df = pd.merge(df, df_reviews, on=['Id', 'user_id'], how='left')

In [10]:
merged_df.drop_duplicates(subset=['Id', 'user_id'])

,Id,user_id,review_score,emotions,embedding_word
0,0826414346,A30TK6U7DNS82R,5.0,1,[ 0.19285151 0.04566829 0.87209934 0.998347...
1,0826414346,A3UH4UZ4RSVO82,5.0,1,[ 0.63170236 -0.3734727 1.0102506 1.224012...
2,0826414346,A2MVUWT453QH61,4.0,1,[ 0.3843168 -0.13113278 0.5682461 0.749878...
3,0826414346,A22X4XUPKF66MR,4.0,1,[ 0.12973899 -0.03000592 1.0274833 1.579559...
4,0826414346,A2F6NONFUDB6UK,4.0,1,[ 0.716405 0.27937806 1.0383431 1.055518...
...,...,...,...,...,...
1164695,1418016985,A1AGP4UICA84RU,4.0,1,[-0.34217352 0.32921565 0.8487992 1.550168...
1164696,1418016985,A18IJ90AEVLAGL,4.0,1,[ 0.2674665 -1.0181471 1.0845222 1.198599...
1164697,1418016985,ARIFOVUQEJCR3,5.0,1,[ 0.08489513 -0.50746673 0.5852293 1.278685...
1164698,1418016985,AVLVGOAKPCT0M,5.0,1,[ 0.6421542 -1.141805 0.9272112 1.501133...
1164699,1418016985,AOBAVFJF23I8R,5.0,1,[ 4.4831201e-01 -1.5996432e+00 8.5948303e-02 ...

In [11]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164700 entries, 0 to 1164699
Data columns (total 5 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1164700 non-null  object
 1   user_id         1164700 non-null  object
 2   review_score    1164700 non-null  float64
 3   emotions        1164700 non-null  int64
 4   embedding_word  1164687 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 44.4+ MB

In [12]:
merged_df.rename(columns={'Id': 'book_id', 'embedding_word': 'reviews_embedding'}, inplace=True)

In [13]:
merged_df.head()

,book_id,user_id,review_score,emotions,reviews_embedding
0,0826414346,A30TK6U7DNS82R,5.0,1,[ 0.19285151 0.04566829 0.87209934 0.998347...
1,0826414346,A3UH4UZ4RSVO82,5.0,1,[ 0.63170236 -0.3734727 1.0102506 1.224012...
2,0826414346,A2MVUWT453QH61,4.0,1,[ 0.3843168 -0.13113278 0.5682461 0.749878...
3,0826414346,A22X4XUPKF66MR,4.0,1,[ 0.12973899 -0.03000592 1.0274833 1.579559...
4,0826414346,A2F6NONFUDB6UK,4.0,1,[ 0.716405 0.27937806 1.0383431 1.055518...

In [14]:
# Adjust display settings
pd.set_option('display.max_colwidth', None)

# Display the full content of the first two rows in 'reviews_embedding' column
print(merged_df['reviews_embedding'].head(1))

0    [ 0.19285151  0.04566829  0.87209934  0.99834764 -0.41342673 -0.29366452\n -0.71660656 -0.08521569 -0.33422893 -0.3045687  -0.7665855   0.04657205\n  0.34502283  0.37203333  0.12841737  0.11911471 -0.5297857   0.46390226\n -0.12410352  0.91465575 -0.21875347 -0.33578268 -0.07445345  0.31287467\n -0.19574486  0.61385965 -0.24177416  0.4166272   0.55809563  0.45877054\n -0.08994524  0.7144007  -0.34796876 -0.15755902  0.30387956  0.08388373\n -0.00630224  0.7777432  -0.548524   -0.30175307 -1.1787655   0.38969404\n  0.05209429 -0.51913863  0.22787972 -1.2568868   0.3231448   1.1866293\n  0.35954028 -0.82787824 -0.30038533  0.36161414 -0.17261934 -0.2967654\n  0.05550176 -0.6549869   0.13557072 -0.02816842  0.36198726 -0.32721254\n -0.46245733  0.7949544   0.24529774  0.5278995  -0.23019801  1.428946\n  0.4174426   0.04237312 -0.29043666 -0.52614003 -0.3935664   0.06027359\n  0.5566364   0.13098036 -0.32144466  0.15231429 -0.6033146   0.24493428\n -0.05907679 -0.1762942   0.20976226  1.037569   -0.74481845 -0.01119235\n  0.5243236   0.68220985 -0.08168352  0.19706258 -0.26625952 -0.36131513\n  0.23808323 -0.41012114 -0.19875953 -0.8240996  -0.3549816  -0.20033737\n -0.38490206 -0.42354625  0.36571473  1.252532  ]
Name: reviews_embedding, dtype: object

#### Create a vector counting occurrences of each emotion label

In [15]:
from collections import Counter
from scipy.sparse import csr_matrix

def create_book_emotion_vectors(df):
    all_emotions = df['emotions'].unique()
    # Function to create emotion vector for a book
    def create_emotion_vector(book_emotions):
        emotion_counts = Counter(book_emotions)
        vector = np.zeros(len(all_emotions), dtype=int)
        for emotion, count in emotion_counts.items():
            vector[emotion] = count
        return vector

    # Group by book_id and create emotion vectors
    book_emotion_vectors = df.groupby('book_id')['emotions'].apply(create_emotion_vector)
    
    # Convert to a DataFrame for easier handling
    book_emotion_df = pd.DataFrame(book_emotion_vectors.tolist(), index=book_emotion_vectors.index, columns=all_emotions)
    
    # Normalize the vectors
    book_emotion_df = book_emotion_df.div(book_emotion_df.sum(axis=1), axis=0)
    
    # Convert to CSR matrix for efficiency
    book_emotion_csr = csr_matrix(book_emotion_df.values)
    
    return book_emotion_csr

book_emotion_matrix = create_book_emotion_vectors(merged_df)

In [16]:
book_emotion_matrix

<74298x6 sparse matrix of type '<class 'numpy.float64'>'
	with 173866 stored elements in Compressed Sparse Row format>

#### Averaging reviews embedded per book

In [17]:
from scipy.sparse import csr_matrix, save_npz

# Define the conversion function
def convert_to_array(x):
    if isinstance(x, str):
        # Remove newline characters and extra spaces
        cleaned_str = x.replace('\n', ' ')
        return np.fromstring(cleaned_str.strip("[]"), sep=' ')
    elif isinstance(x, (list, np.ndarray)):
        return np.array(x)
    else:
        return np.array([])  # Return an empty array for invalid entries

def create_book_avg_embeddings(df):
    # Convert 'reviews_embedding' to numpy arrays for easier computation
    df['reviews_embedding'] = df['reviews_embedding'].apply(convert_to_array)
    
    # Filter out invalid entries where the embedding array is empty
    df = df[df['reviews_embedding'].apply(len) > 0]

    # Group by 'book_id' and compute average embedding
    average_embeddings = df.groupby('book_id')['reviews_embedding'].apply(lambda x: np.mean(np.vstack(x), axis=0))
    # Convert to a DataFrame for easier handling
    book_avg_embeddings_df = pd.DataFrame(average_embeddings.tolist(), index=average_embeddings.index)
    
    # Convert to CSR matrix for efficiency
    book_avg_embeddings_csr = csr_matrix(book_avg_embeddings_df.values)
    
    return book_avg_embeddings_csr

book_avg_embeddings_matrix = create_book_avg_embeddings(merged_df)

In [18]:
# Create mappings for user_id and book_id to matrix indices
user_ids = merged_df['user_id'].unique()
book_ids = merged_df['book_id'].unique()
user_id_map = {id: i for i, id in enumerate(user_ids)}
book_id_map = {id: i for i, id in enumerate(book_ids)}
print('number of users: ', len(user_ids))
print('number of books: ', len(book_ids))

number of users:  575887
number of books:  74298

In [19]:
from sklearn.preprocessing import MinMaxScaler

def create_user_book_csr_matrix(df):
    # Create row and column indices
    row_indices = [user_id_map[id] for id in df['user_id']]
    col_indices = [book_id_map[id] for id in df['book_id']]
    
    # Normalize the review scores
    min_score = df['review_score'].min()
    max_score = df['review_score'].max()
    normalized_scores = (df['review_score'] - min_score) / (max_score - min_score)
    
    # Create the CSR matrix
    csr_matrix_ub = csr_matrix((normalized_scores, (row_indices, col_indices)), 
                               shape=(len(user_ids), len(book_ids)))
    
    return csr_matrix_ub

user_book_matrix = create_user_book_csr_matrix(merged_df)

In [32]:
user_book_matrix.data

array([1., 1., 1., ..., 1., 1., 1.])

In [20]:
user_vector_size = user_book_matrix.shape
emotion_vector_size = book_emotion_matrix.shape
embedding_size = book_avg_embeddings_matrix.shape

print(f"User vector: {user_vector_size}")
print(f"Emotion vector: {emotion_vector_size}")
print(f"Average embedding: {embedding_size}")

User vector: (575887, 74298)
Emotion vector: (74298, 6)
Average embedding: (74298, 100)

In [21]:
# Saving all the vectors 
save_npz('/kaggle/working/user_book_matrix.npz', user_book_matrix)
save_npz('/kaggle/working/emotion_matrix.npz', book_emotion_matrix)
save_npz('/kaggle/working/avg_embeddings_matrix.npz', book_avg_embeddings_matrix)